.header {
  @extend %sticky;
  @extend %text-uppercase;
  @include align-block('center');
  @include adaptive('height', 100, 80, 0);
  @include adaptive('font-size', 13, 12, 0);
  background-color: $color-gray;

  .container {
    @extend %flex-between;
  }

  .logo {
    @include adaptive('font-size', 28, 20, 0);
    width: 40%;
    text-align: left;


    &__item {
      @include blue($color-blue, 400);
      color: $color-white;
      font-weight: 800;
    }
  }

  .menu {
    @extend %flex-between;
    width: 40%;
    color: $color-white;

    &__item_link {
      @include hover('link');
    }

    &__item_link.active {
      color: $color-blue;
    }
  }

  @include respond-below(sm) {
    .logo, .menu {
      width: 100%;
    }
  }
}