@import '../common/variables';
@import '../common/mixins';

.select {
  position: relative;
  width: 100%;
  @include arrow('arrow-down');

  &__header {
    @extend .field__input;

    color: $color-black-light;
    background-color: $color-white;
    cursor: pointer;
  }

  &__body {
    display: none;
    position: absolute;
    top: 50px;
    width: calc(100% - 20px);
    background-color: $color-gray;
    line-height: 34px;
    padding: 10px;
    margin-top: 2px;
    height: 170px;
    border-radius: 3px;
    overflow-Y: scroll;
    z-index: 2;
    scrollbar-color: $color-blue $color-black-gray;

    &::-webkit-scrollbar {
      width: 7px;
      background-color: $color-violet;
      color: $color-blue;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: $color-blue;
    }
  }

  &__item {
    @include adaptive('font-size', 18, 16, 0);
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }
  }

  &_active {
    @include arrow('arrow-up');

    .select {
      &__body {
        display: block;

        @include respond-below(sm) {
          height: 250px;
        }
      }

      &__header {
        background-color: $color-violet;
        color: $color-white-light;
      }
    }
  }
}