@font-face {
  font-weight: 400;
  font-family: Lato;
  font-style: normal;
  src: local("Lato"),
  url("/fonts/Lato/Lato-Regular.ttf") format("ttf")
}

@font-face {
  font-weight: 500;
  font-family: Lato;
  font-style: normal;
  src: local("Lato"),
  url("/fonts/Lato/Lato-Medium.ttf") format("ttf")
}

@font-face {
  font-weight: 600;
  font-family: Lato;
  font-style: normal;
  src: local("Lato"),
  url("/fonts/Lato/Lato-Semibold.ttf") format("ttf")
}

@font-face {
  font-weight: 700;
  font-family: Lato;
  font-style: normal;
  src: local("Lato"),
  url("/fonts/Lato/Lato-Bold.ttf") format("ttf")
}

@font-face {
  font-weight: 800;
  font-family: Lato;
  font-style: normal;
  src: local("Lato"),
  url("/fonts/Lato/Lato-Heavy.ttf") format("ttf")
}