$color-gray: #10101D;
$color-gray-light: #6F6D7B;
$color-gray-lighter: #BBB;
$color-gray-ligtest: #C3C3C3;
$color-black: #000;
$color-red: #F00F;
$color-white: #FFF;
$color-white-light: #dfdfe0;
$color-blue: #42A9ED;
$color-blue-light: #3E9CDC;
$color-blue-dark: #0d517d;
$color-violet: #3D4050;
$color-black-light: #272733;
$color-black-gray: #2A2B30;
$border-gray: 1px solid $color-gray-ligtest;
$border-white: 1px solid $color-white;
$border-white-bold: 10px solid $color-white;
$bgs: "main", "content";
$icons-payment: "qiwi", "yandex-money", "webmoney";
$icons-contact: "mail", "vk";
