#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .modal-window {
    @include adaptive('width', 700, 300, 0);
    position: relative;
    z-index: 7;
    background-color: $color-white;
    border: $border-white;
    border-radius: 7px;
    box-shadow: 0 5px 75px rgb(0 0 0 / 50%);

    &__header {
      @include adaptive('font-size', 28, 16, 0);
      padding: 20px;
      color: $color-white;
      text-align: center;
      background-color: $color-blue-light;
    }

    &__body {
      padding: 30px;
      color: $color-gray-light;
    }

    &__text {
      margin-bottom: 10px;
      font-size: 16px;

      &_bold {
        font-weight: 800;
      }
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $color-white;
      cursor: pointer;
    }
  }

  &.modal_open {
    display: flex;
    background-color: #3D4050;
    opacity: 0.95;
  }
}