#overflow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #3D4050;
  opacity: .75;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;

  &.modal_open {
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-window {
    @include adaptive('width', 700, 290, 0);
    position: relative;
    box-sizing: border-box;
    height: max-content;
    background-color: $color-white;
    border: $border-white-bold;
    border-radius: 7px;
    box-shadow: 0 5px 75px rgb(0 0 0 / 50%);

    &__header {
      @include adaptive('font-size', 28, 16, 0);
      padding: 20px;
      color: $color-white;
      text-align: center;
      background-color: $color-blue-light;
    }

    &__body {
      padding: 20px;
      color: $color-gray-light;
    }

    &__text {
      margin-bottom: 10px;
      font-size: 16px;

      &_bold {
        font-weight: 800;
      }
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $color-white;
      cursor: pointer;
    }
  }
}