@import "common/fonts";
@import 'common/variables';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: Lato, sans-serif;
}

a {
  color: $color-white;
}

input {
  color: $color-black-light;
  background-color: $color-white-light;
  cursor: pointer;

  &::input-placeholder {
    color: $color-black-light;
    background-color: $color-white-light;
  }

  &::placeholder {
    color: $color-black-light;
    background-color: $color-white-light;
  }

  &:input-placeholder {
    color: $color-black-light;
    background-color: $color-white-light;
  }
}




